/* colors #FFFFFF #D7DADB #6DBCDB #FC4349 #2C3E50 */
#colors{
    color: #FFFFFF ;
    color: #D7DADB ;
    color: #6DBCDB ;
    color: #FC4349 ;
    color: #2C3E50 ;
}
#daily-title{
    margin-bottom: 30px;
    border-bottom: 2px solid  #2C3E50 ;
}
input{
    width: 100%;
    height: 100%;
   border: 1px solid #2C3E50;
    
}
.row{
    height: 60px;
    /* border: 1px solid blue; */
}
.hour-col{
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted #2C3E50;
   
}
.hour{
    font-size: 10px;
    text-align: right;
    margin: auto 10px auto 0;
}
.my-col{
    height: 100%;
    /* border: 1px solid rgb(2, 255, 128); */
    padding: 0;
    margin: 0;
    
    
}
.jomboDiv{
    margin-top: 60px;
}
.save-btn{
    height: 100%;
    width: 75%;
    color: #D7DADB;
    background-color: #6DBCDB;
    border: none;
    border-radius: 0px 7px 7px 0px;
}
.save-btn:hover{
    background-color: #2C3E50;
}
